<% provide(:title, "マイページ") %>
<%= render "shared/flash" %>
<div class="mypage">
  <h2>マイページ</h2>
  <div class="student_profile">
    <div class="top_information">
      <%= link_to student_profile_path(current_student) do %>
        <%= render "shared/profile_image", profile: @student_profile %>
      <% end %>
      <div>
        <h4><%= @student_profile.name %></h4>
        <p><small><%= @student_profile.year %></small></p>
      </div>
    </div>
    <div class="information">
      <p><span class="orange_marker">大学</span>　<%= @student_profile.university %></p>
    </div>
  </div>
  <div class="waiting_column">
    <h3>承認待ち</h3>
    <% if @not_approved_pharmacists %>
      <%= render partial: "students/not_approved_pharmacists", collection: @not_approved_pharmacists, as: "pharmacist" %>
    <% else %>
      <p class="nobody">承認待ちの薬剤師はいません。</p>
    <% end %>
  </div>
  <div class="talking_column">
    <h3>トーク中</h3>
    <% if @approved_pharmacists %>
      <%= render partial: "students/approved_pharmacists", collection: @approved_pharmacists, as: "pharmacist" %>
    <% else %>
      <p class="nobody">トーク中の薬剤師はいません。</p>
    <% end %>
  </div>
</div>
