<% provide(:title, "アカウント編集") %>
<div class="form">
  <h2>アカウント編集</h2>

  <div class="form_contents">
    <%= form_with model: resource, scope: resource_name, url: registration_path(resource_name), method: :put do |f| %>
      <%= render "shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> (パスワードを変更しない場合は入力不要)<br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %> (パスワードを変更しない場合は入力不要)<br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "更新", class: "btn"%>
      </div>
    <% end %>

    <p>アカウントを削除して退会する</p>

    <p><%= button_to "退会", registration_path(resource_name), data: { confirm: "アカウントを削除すると全てのデータが失われます。退会しますか？" }, method: :delete, class: "cancel_btn" %></p>
  </div>
</div>
