<div class="talking">
  <div class="profile">
    <%= link_to pharmacist_profile_path(pharmacist) do %>
      <%= render "shared/profile_image", profile: pharmacist.pharmacist_profile %>
      <p><%= pharmacist.pharmacist_profile.name %></p>
    <% end %>
  </div>
  <% if room = Room.find_by(pharmacist_id: pharmacist.id, student_id: current_student.id) %>
    <div class="display_message">
      <%= safe_join(room.messages.last.content.split("\n"), tag(:br)) if room.messages %>
    </div>
    <div class="btn_list">
      <%= link_to "トーク画面に移る", room_path(room), class: "btn" %>
      <%= link_to "トークを終了する", room_path(room), method: :delete,
                  data: { confirm: "トークを終了すると、トーク内容は全て消去されます。\n終了しますか？" },
                  class: "cancel_btn" %>
    </div>
  <% else %>
    <div class="btn_list">
      <%= form_with model: Room.new do |f| %>
        <%= hidden_field_tag :pharmacist_id, pharmacist.id %>
        <%= f.submit "トーク画面に移る", class: "btn" %>
      <% end %>
    </div>
  <% end %>
</div>
