<% approved_pharmacists.each do |pharmacist| %>
  <div class="talking">
    <%= link_to pharmacist_profile_path(pharmacist) do %>
      <% if pharmacist.pharmacist_profile.image? %>
        <%= image_tag pharmacist.pharmacist_profile.image.url, class: "user_icon" %>
      <% else %>
        <%= image_tag "/assets/default.png", class: "user_icon default" %>
      <% end %>
    <% end %>
    <%= pharmacist.pharmacist_profile.name %>
    <div class="btn_list">
      <%= link_to "トーク画面に移る", "#", class: "btn" %>
      <%= link_to "トークを終了する", "#", class: "cancel_btn" %>
    </div>
  </div>
<% end %>
