<% provide(:title, "HOME") %>
<div class="home_header">
  <div class="home_header_content">
    <div class="catch_copy">
      <p>先輩の声を聞いて</p>
      <p>薬局の雰囲気をつかもう</p>
    </div>
    <%= image_tag 'Chat.png', class: 'top_image' %>
    <% if no_one_is_logged_in %>
      <p class="btn js_sign_up">新規登録</p>
    <% end %>
  </div>
</div>
<%= render "shared/flash" %>
<main>
  <h2>先輩を探す</h2>
  <%= search_form_for @q, url: search_pharmacist_profiles_path do |f| %>
    <p><i class="fas fa-pencil-alt" aria-hidden="true"></i>フリーワード</p>
    <div class="search_field">
      <%= f.search_field :name_or_work_place_or_university_cont, placeholder: "会社名・大学名" %>
    </div>
    <p><i class="fas fa-clinic-medical" aria-hidden="true"></i>勤務先タイプ</p>
    <div class="search_checkbox">
      <% PharmacistProfile.work_place_types.keys.each_with_index do |key, i| %>
        <label>
          <%= f.check_box :work_place_type_eq_any, { multiple: true }, i, nil %>
          <%= key %>
        </label>
      <% end %>
    </div>
    <p><i class="fas fa-map-marker-alt" aria-hidden="true"></i>エリア</p>
    <div class="search_prefectures">
      <%  PharmacistProfile.work_locations.keys.each_with_index do |key, i| %>
        <% next if i.zero? %>
        <label>
          <%= f.check_box :work_location_eq_any,{ multiple: true }, i, nil %>
          <%= key %>
        </label>
      <% end %>
    </div>
      <%= f.submit "検索" %>
  <% end %>
</main>
<%= render "shared/sign_up_modal" %>
<%= render "shared/log_in_modal" %>
