<% provide(:title, "プロフィール登録") %>
<%= render "shared/error_messages", resource: @student_profile %>
<%= render "shared/flash" %>
<div class="form_profile">
  <h2>プロフィール登録</h2>
  <div class="form_contents">
    <%= form_with model: @student_profile do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ファーマ太郎" %>

      <%= f.label :image %>
      <%= f.file_field :image %>

      <%= f.label :university %>
      <%= f.text_field :university, placeholder: "Pharma大学" %>

      <%= f.label :year %>
      <div class="year">
        <%= f.radio_button :year, :５年, checked: "checked" %>
        <%= f.label :year_５年, "５年" %>
        <%= f.radio_button :year, :６年 %>
        <%= f.label :year_６年, "６年" %>
      </div>

      <%= f.label :introduction %>
      <%= f.text_area :introduction %>

      <%= f.submit "登録", class: "btn" %>
    <% end %>
  </div>
</div>
