<%= render "shared/flash" %>
<div class="mypage">
  <h2>マイページ</h2>
  <div class="pharmacist_profile">
    <div class="top_information">
      <%= link_to pharmacist_profile_path(current_pharmacist) do %>
        <% if @pharmacist_profile.image? %>
          <%= image_tag @pharmacist_profile.image.url, class: "user_icon" %>
        <% else %>
          <%= image_tag "/assets/default.png", class: "user_icon default" %>
        <% end %>
      <% end %>
      <div>
        <h4><%= @pharmacist_profile.name %></h4>
        <p><small><%= @pharmacist_profile.work_place_type %></small></p>
        <p><small><i class="fas fa-map-marker-alt" aria-hidden="true"></i><%= @pharmacist_profile.work_location %></small></p>
      </div>
    </div>
    <div class="information">
      <p><span class="blue_marker">勤務先</span>　<%= @pharmacist_profile.work_place %></p>
      <p><span class="orange_marker">出身大学</span>　<%= @pharmacist_profile.university %></p>
    </div>
  </div>
  <div class="notification_column">
    <h3>承認待ち</h3>
    <% if @not_approved_students %>
      <%= render partial: "shared/not_approved_students", collection: @not_approved_students, as: "student" %>
    <% else %>
      <p class="nobody">承認待ちの学生はいません。</p>
    <% end %>
  </div>
  <div class="talking_column">
    <h3>トーク中</h3>
    <% if @approved_students %>
      <%= render partial: "shared/approved_students", collection: @approved_students, as: "student" %>
    <% else %>
      <p class="nobody">トーク中の学生はいません。</p>
    <% end %>
  </div>
</div>
