<div class="search_pharmacist_profile">
  <div class="top_information">
    <%= render "shared/profile_image", profile: result %>
    <div>
      <h3><%= result.name %></h3>
      <p><small><%= result.work_place_type %></small></p>
      <p><small><i class="fas fa-map-marker-alt" aria-hidden="true"></i><%= result.work_location %></small></p>
    </div>
  </div>
  <div class="information">
    <p><span class="blue_marker">勤務先</span>　<%= result.work_place %></p>
    <p><span class="orange_marker">出身大学</span>　<%= result.university %></p>
  </div>
  <div class="introduction">
    <small><%= safe_join(result.introduction.split("\n"), tag(:br)) %></small>
  </div>
  <%= link_to "詳細", pharmacist_profile_path(result), class: "btn" %>
</div>
