<% results.each do |pharmacist_profile| %>
  <div class="search_pharmacist_profile">
    <div class="top_information">
      <%= render "shared/profile_image", profile: pharmacist_profile %>
      <div>
        <h3><%= pharmacist_profile.name %></h3>
        <p><small><%= pharmacist_profile.work_place_type %></small></p>
        <p><small><i class="fas fa-map-marker-alt" aria-hidden="true"></i><%= pharmacist_profile.work_location %></small></p>
      </div>
    </div>
    <div class="information">
      <p><span class="blue_marker">勤務先</span>　<%= pharmacist_profile.work_place %></p>
      <p><span class="orange_marker">出身大学</span>　<%= pharmacist_profile.university %></p>
    </div>
    <div class="introduction">
      <small><%= safe_join(pharmacist_profile.introduction.split("\n"), tag(:br)) %></small>
    </div>
    <%= link_to "詳細", pharmacist_profile_path(pharmacist_profile), class: "btn" %>
  </div>
<% end %>
