<% provide(:title, @pharmacist_profile.name) %>
<%= render "shared/flash" %>
<div class="profile_show">
  <div class="profile_show_content">
    <h2>基本情報</h2>
    <div class="information">
      <%= render "shared/profile_image", profile: @pharmacist_profile %>
      <div>
        <p><strong><%= @pharmacist_profile.name %></strong></p>
        <p><small><%= @pharmacist_profile.work_place_type %></small></p>
        <p><small><i class="fas fa-map-marker-alt" aria-hidden="true"></i><%= @pharmacist_profile.work_location %></small></p>
      </div>
    </div>
    <h2>勤務先・出身大学</h2>
    <div class="information">
      <p>
        <span><%= @pharmacist_profile.work_place %></span>
        <span><%= @pharmacist_profile.university %></span>
      </p>
    </div>
    <h2>プロフィール</h2>
    <div class="profile">
      <small><%= safe_join(@pharmacist_profile.introduction.split("\n"), tag(:br)) %></small>
    </div>
  </div>
  <% if pharmacist_signed_in? %>
    <% if @pharmacist == current_pharmacist %>
      <%= link_to "編集する", edit_pharmacist_profile_path(@pharmacist_profile), class: "btn" %>
    <% end %>
  <% elsif student_signed_in? %>
    <%= render "pharmacist_profiles/follow_request" %>
  <% end %>
</div>
