<% if !current_student.student_profile || !current_student.student_profile.id %>
  <li><%= link_to "プロフィールを登録", new_student_profile_path %></li>
  <li><%= link_to "ログアウト", destroy_student_session_path, method: :delete %></li>
<% else %>
  <div class="hamburger_menu">
    <input type="checkbox" id="menu_btn_check">
    <label for="menu_btn_check" class="menu_btn"><span></span></label>
    <li class="drop_down">
      <% if current_student.student_profile.image? %>
        <%= image_tag current_student.student_profile.image.thumb.url, class: "user_icon" %>
      <% else %>
        <%= image_tag "/assets/default.png", class: "user_icon default" %>
      <% end %>
        <%= render "layouts/student_drop_down"%>
    </li>
  </div>
<% end %>
